<!doctype html>
<!-- 3rd Udacity Submission - Restaurant App -->
<html lang="en">
<head>  
    <meta charset="utf-8">     
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta name="description" content="Udacity Project 3: The Gourmet's Friend">  
    <meta name="keywords" content="HTML,CSS">  
    <meta name="author" content="Paul Carreiro">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>Add A New Restaurant</title> 
    <link rel="stylesheet" href={{url_for('static', filename='project.css')}}>  
    <link rel="stylesheet" media="screen and (min-width:500px)" href={{url_for('static', filename='project.css')}}>
</head>  

<body>
	<header class="header-simple">
		<section class="sect-grid-left">
			<div class="ilgrid11"><p></p></div>
			<div class="ilgrid21"><p></p></div>
			<div class="ilgrid31"><p></p></div>
			<div class="ilgrid41">Add New Restaurant></div>
		</section>
		<section class="sect-grid-right">
			<div class="box-right"><img src={{url_for('static', filename='No_Image.jpg')}} alt="No Image">p></div>
		</section>
	</header>

    <main role="main">
		<section class="sect-grid-body">

		
		
		
		</section>
    </main>

	<section class="button-bar2">
		<img class="add-button" src={{url_for('static', filename='Button_ANR.jpg')}} alt="Add New Restaurant">
		<img class="cancel-button" src={{url_for('static', filename='Button_ANR.jpg')}} alt="Cancel">
	</section>
	
	<footer class="sect-grid-footer">
	    <div class="footer-s1">Social Media Links</div>
	    <div class="footer-s2">The Gourmet's Friend<br>1234 Some Avenue<br>San Jose, CA 90000</div>
	    <div class="footer-s3">Site Map | Contact Us | Reviews</div>
    </footer>
</body>
</html>
