<!doctype html>
<!-- 3rd Udacity Submission - Restaurant App -->
<html lang="en">
<head>  
    <meta charset="utf-8">     
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta name="description" content="Udacity Project 3: The Gourmet's Friend">  
    <meta name="keywords" content="HTML,CSS">  
    <meta name="author" content="Paul Carreiro">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>Add A New Restaurant</title> 
    <link rel="stylesheet" href={{url_for('static', filename='project.css')}}>  
    <link rel="stylesheet" media="screen and (min-width:500px)" href={{url_for('static', filename='project.css')}}>
</head>  

<body>
	<header class="header-simple">
		<section class="sect-grid-left">
			<div class="ilgrid11"><p></p></div>
			<div class="ilgrid21"><p></p></div>
			<div class="ilgrid31"><p></p></div>
			<div class="ilgrid41">Add New Restaurant</div>
		</section>
		<section class="sect-grid-right">
			<div class="box-right"><img src={{url_for('static', filename='No_Image.jpg')}} alt="No Image">p></div>
		</section>
	</header>

    <main role="main">
		<section class="sect-grid-body">
			<article class="one_rest_rec">
				<div class="rrgrid11">Restaurant Name</div>
				<div class="rrgrid21">1234 Food Court</div>
				<div class="rrgrid31">Some City, CA 90000</div>
				<div class="rrgrid41"></div>
				<div class="rrgrid51">Call for Reservations</div>
				<div class="rrgrid61">(408) 555-1212</div>
				<div class="rrgrid71"></div>
				
				<div class="rrgrid12">Hours Mon: 11:00AM - 11:00PM</div>
				<div class="rrgrid22">Hours Tue: 11:00AM - 11:00PM</div>
				<div class="rrgrid32">Hours Wed: 11:00AM - 11:00PM</div>
				<div class="rrgrid42">Hours Thu: 11:00AM - 11:00PM</div>
				<div class="rrgrid52">Hours Fri: 11:00AM - 11:00PM</div>
				<div class="rrgrid62">Hours Sat: Closed</div>
				<div class="rrgrid72">Hours Sun: Closed</div>
			</article>
		</section>
    </main>

	<section class="button-bar2">
		<img class="add-button" src={{url_for('static', filename='Button_AR.jpg')}} alt="Add New Restaurant">
		<img class="cancel-button" src={{url_for('static', filename='Button_CN.jpg')}} alt="Cancel">
	</section>
	
	<footer class="sect-grid-footer">
	    <div class="footer-s1">Social Media Links</div>
	    <div class="footer-s2">The Gourmet's Friend<br>1234 Some Avenue<br>San Jose, CA 90000</div>
	    <div class="footer-s3">Site Map | Contact Us | Reviews</div>
    </footer>
</body>
</html>
