<!doctype html>
<!-- 3rd Udacity Submission - Restaurant App -- Delete Restaurant Record -->
<html lang="en">
<head>  
    <meta charset="utf-8">     
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta name="description" content="Udacity Project 3: The Gourmet's Friend">  
    <meta name="keywords" content="HTML,CSS">  
    <meta name="author" content="Paul Carreiro">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>Delete Restaurant Record</title> 
    <link rel="stylesheet" href={{url_for('static', filename='project.css')}}>  
    <link rel="stylesheet" media="screen and (min-width:500px)" href={{url_for('static', filename='project.css')}}>
</head>  

<body>
	<header class="header-simple">
		<section class="sect-grid-left">
			<div class="ilgrid11"><p></p></div>
			<div class="ilgrid21">{{restaurant.name}}</div>
			<div class="ilgrid31"><p></p></div>
			<div class="ilgrid41">Delete this record?</div>
		</section>
		<section class="sect-grid-right">
			<div class="box-right"><img src={{url_for('static', filename='FD1_Restaurant.jpg')}} alt="Rest Picture"></div>
		</section>
	</header>

    <main role="main">
		<section class="sect-grid-body">
			<article class="one_rest_rec">	
                <!-- Rest Rec Form -- Returns user Field Values for a new Restaurant record -->			
				<form action="{{url_for('deleteRestaurant', restaurant_id=restaurant_id)}}" method = 'POST' id="drrecord"></form>
                    <!-- Column 1: Name, Address, and Description -->
    				<div class="rrgrid11" class="pad-horizontal">
						<label class="pad-box" for="name" form="drrecord"><b>Restaurant Name</b></label><br><p></p>
						<input class="pad-box" id="name" size='20' type='text' value='{{restaurant.name}}' name='name' form="drrecord">
					</div>
					
					<div class="rrgrid21">
						<label class="pad-box" for="street" form="drrecord"><b>Address Street</b></label><br><p></p>
						<input class="pad-box" id="street" size='30' type='text' value='{{properties.street}}' name='street' form="drrecord">
					</div>
					
					<div class="rrgrid31">
						<label class="pad-box" for="city" form="drrecord"><b>Address City</b></label><br><p></p>
						<input class="pad-box" id="city" size='10' type='text' value='{{properties.city}}' name='city' form="drrecord">
					</div>

					<div class="rrgrid41">
						<label class="pad-box" for="state" form="drrecord"><b>Address State</b></label><br><p></p>
						<input class="pad-box" id="state" size='10' type='text' value='{{properties.state}}' name='state' form="drrecord">
					</div>

					<div class="rrgrid51">
						<label class="pad-box" for="zip" form="drrecord"><b>Address Zip</b></label><br><p></p>
						<input class="pad-box" id="zip" size='10' type='text' value='{{properties.zip}}' name='zip' form="drrecord">
					</div>

					<div class="rrgrid61">
						<label class="pad-box" for="phone" form="drrecord"><b>Phone</b></label><br><p></p>
						<input class="pad-box" id="phone" size='10' type='text' value='{{properties.phone}}' name='phone' form="drrecord">
					</div>

					<div class="rrgrid71"></div>

					<div class="rrgrid81">
						<label class="pad-box" for="description" form="drrecord"><b>Description</b></label><br><p></p>
						<input class="pad-box" id="description" size='10' type='text' value='{{properties.Description}}' name='description' form="drrecord">
					</div>
					<!-- Column 2: Restaurant open_ing and closing hours -->
    				<div class="rrgrid12" class="pad-horizontal">
						<label class="pad-box" for="open_Mon" form="drrecord"><b>Mon</b></label><br><p></p>
						<input class="pad-box" id="open_Mon" size='10' type='text' value='{{properties.open_Mon}}' name='open_Mon' form="drrecord">
						<input class="pad-box" id="close_Mon" size='10' type='text' value='{{properties.close_Mon}}' name='close_Mon' form="drrecord">
					</div>
					
					<div class="rrgrid22">
						<label class="pad-box" for="open_Tue" form="drrecord"><b>Tue</b></label><br><p></p>
						<input class="pad-box" id="open_Tue" size='10' type='text' value='{{properties.open_Tue}}' name='open_Tue' form="drrecord">
						<input class="pad-box" id="close_Tue" size='10' type='text' value='{{properties.close_Tue}}' name='close_Tue' form="drrecord">
					</div>
					
					<div class="rrgrid32">
						<label class="pad-box" for="open_Wed" form="drrecord"><b>Wed</b></label><br><p></p>
						<input class="pad-box" id="open_Wed" size='10' type='text' value='{{properties.open_Wed}}' name='open_Wed' form="drrecord">
						<input class="pad-box" id="close_Wed" size='10' type='text' value='{{properties.close_Wed}}' name='close_Wed' form="drrecord">
					</div>

					<div class="rrgrid42">
						<label class="pad-box" for="open_Thu" form="drrecord"><b>Thr</b></label><br><p></p>
						<input class="pad-box" id="open_Thu" size='10' type='text' value='{{properties.open_Thu}}' name='open_Thu' form="drrecord">
						<input class="pad-box" id="close_Thu" size='10' type='text' value='{{properties.close_Thu}}' name='close_Thu' form="drrecord">
					</div>

					<div class="rrgrid52">
						<label class="pad-box" for="open_Fri" form="drrecord"><b>Fri</b></label><br><p></p>
						<input class="pad-box" id="open_Fri" size='10' type='text' value='{{properties.open_Fri}}' name='open_Fri' form="drrecord">
						<input class="pad-box" id="close_Fri" size='10' type='text' value='{{properties.close_Fri}}' name='close_Fri' form="drrecord">
					</div>
					
					<div class="rrgrid62">
						<label class="pad-box" for="open_Sat" form="drrecord"><b>Sat</b></label><br><p></p>
						<input class="pad-box" id="open_Sat" size='10' type='text' value='{{properties.open_Sat}}' name='open_Sat' form="drrecord">
						<input class="pad-box" id="close_Sat" size='10' type='text' value='{{properties.close_Sat}}' name='close_Sat' form="drrecord">
					</div>

					<div class="rrgrid72">
						<label class="pad-box" for="open_Sun" form="drrecord"><b>Sun</b></label><br><p></p>
						<input class="pad-box" id="open_Sun" size='10' type='text' value='{{properties.open_Sun}}' name='open_Sun' form="drrecord">
						<input class="pad-box" id="close_Sun" size='10' type='text' value='{{properties.close_Sun}}' name='close_Sun' form="drrecord">
					</div>
					
					<div class="rrgrid82">
						<button class="delete-button" type="submit" value="Delete" form="drrecord">Delete</button>
					</div>
				</form>			
			</article>
		</section>
    </main>

	<section class="button-bar1">
		<a href={{url_for('showRestaurants')}}><img class="cancel-button" src={{url_for('static', filename='Button_CN.jpg')}} alt="Cancel"></a>
	</section>
	
	<footer class="sect-grid-footer">
	    <div class="footer-s1">
		    <a href='https://www.linkedin.com/in/paulcarreirofsp/'><img class="sm-button" src={{url_for('static', filename='Button_SML_fb.jpg')}} alt="facebook"></a>
            <a href='https://www.linkedin.com/in/paulcarreirofsp/'><img class="sm-button" src={{url_for('static', filename='Button_SML_tw.jpg')}} alt="twitter"></a>
            <a href='https://www.linkedin.com/in/paulcarreirofsp/'><img class="sm-button" src={{url_for('static', filename='Button_SML_ig.jpg')}} alt="instagram"></a> 			
		</div>
	    <div class="footer-s2">The Gourmet's Friend<br>1234 Some Avenue<br>San Jose, CA 90000</div>
	    <div class="footer-s3">Site Map | <a href='https://www.linkedin.com/in/paulcarreirofsp/'>Contact Us</a> | <a href='https://www.linkedin.com/in/paulcarreirofsp/'>Reviews</a></div>
    </footer>
</body>
</html>
