body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  background-color: white;
  color: white;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.h2-like-font {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

header, footer, section, article, div {
  box-sizing: border-box;

  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Left Aside Panel
 *
 */

aside {
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
}

/*
 *
 * Header
 *
 */

.header-grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 25% 75%;
  padding: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 55px;
  border-style: solid;
}

.header-c1 {
  vertical-align: top;
  max-height: 100%;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header-c2 {
  vertical-align: top;
  max-height: 100%;
  max-width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: pink;
}

.header-r2 {
  vertical-align: top;
  height: 2.5px;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: black;
}

.box-r2 {
  /* padding: 5px; */
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-top-width: 0;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-color: white;
}

.header__logo {
  height: 12vh;
}

.header__title {
  font-size: 5.5vh;
  text-align: right;
  color: #212121;
}

.header__second {
  font-size: 1.5em;
  text-align: right;
  color: #212121;
}

/*
 *
 * Main
 *
 */

main {
  width: 100%;
  background-color: white;
  color: black;
}

/*
 *
 * Photo Grid
 *
 */

.photo-grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 33% 33% 33%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 55px;
}
.hero-photo {
  height: 40vmin;
  width: 100%;
}

.one-photo {
  width: 100%;
  height: 22vmin;
}

/* ---------------------------------*/
/* 1  1........2........3........4
/*    1             A            4
/* 2  1........2........3........4
/*    1   B    2   C    3    D   4
/* 3  1........2........3........4
/* ---------------------------------*/
.box11 {
  /* padding: 5px; */
  margin: 8px;
  border: 5px;
  border-color: white;
}

.gl11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gl21 {
  grid-column: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
}
.gl22 {
  grid-column: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: pink;
}
.gl23 {
  grid-column: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
}
.gl31 {
  grid-column: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: pink;
}
.gl32 {
  grid-column: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
}
.gl33 {
  grid-column: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: pink;
}
.gl41 {
  grid-column: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gl42 {
  grid-column: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gl43 {
  grid-column: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* This code designed and written by Thierry Koblentz and presented on A List Apart in 2009 */
/* See also  https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php      */
/* Not part of code to be evaluated. Not written by me. --- Paul                            */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
