<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Udacity Lesson 8: Project Code">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Paul Carreiro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Restaurant Menu Item</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='project.css')}}>
  </head>
<body class="body-edititem">

<h2 class="form-field">Edit Menu Item for {{name.name}}</h2>
<p>
<div>
<table class="table-top">
<tr class="table-header">
    <td class="table-col1h">Item Name &emsp; Description &emsp; Price &emsp; Action</td>
</tr>
<tr class="table-row">
<td class="table-col1">
    <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id, item=item)}}" method = 'POST' id="EdiItemForm"></form>
    <input class="form-field" type='text' size='15' value='{{item.name}}' name='name' form="EditItemForm">
    &emsp; <input class="form-field" type='text' size='30' value='{{item.description}}' name='description' form="EditItemForm">
    &emsp; <input class="form-field" type='text' size='10' value='{{item.price}}' name='price' form="EditItemForm">
    &emsp; <input type='submit' value='Edit' form="EditItemForm"></td>
</tr>
</table>
</div>
</body>

</html> 