<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Udacity Lesson 8: Project Code">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Paul Carreiro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Restaurant Menu Item</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='editItem.css')}}>
  </head>
<body class="body-edititem">

<h2>Edit Menu Item for {{name.name}}</h2>
<p>
<div>
	<form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id, item=item)}}" method = 'POST'></form>
		<div style="float:left;margin-right:20px;">
			<label for="item">Item Name</label>
			<input class="form-field" id="item" type='text' size='15' value='{{item.name}}' name='name'>
		</div>
		
		<div style="float:left;margin-right:20px;">
			<label for="desc">Description</label>
			<input class="form-field" id="desc" type='text' size='30' value='{{item.description}}' name='description'>
		</div>
		
		<div style="float:left;margin-right:20px;">
			<label for="price">Price</label>
			<input class="form-field" id="price" type='text' size='10' value='{{item.price}}' name='price'>
		</div>
		
		<div style="float:left;">
			<label for="button">Action</label>
			<input id="button='submit' value='Edit'>
		</div>

		<br style="clear:both;" />
	</form>
</div>
</body>
</html> 