<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Udacity Lesson 8: Project Code">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Paul Carreiro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Restaurant Menu Item</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static', filename='project.css')}}>
  </head>
<body class="body-newitem">

<h2 class="form-field">New Menu Item for {{restaurant.name}}</h2>
<p>
<div>
<form class="form-field" action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST' id="NewItemForm"></form>
<table class="table-top">
<tr class="table-header">
    <td class="table-col1h">Item Name</td>
    <td class="table-col2h">Description</td> 
    <td class="table-col3h">Price</td>
	<td class="table-col4h">Action</td>
</tr>
<tr class="table-row">
<td class="table-col1"><input class="form-field" type='text' size='15' name='name' form="NewItemForm"></td>
<td class="table-col2"><input class="form-field" type='text' size='15' name='description' form="NewItemForm"></td>
<td class="table-col3"><input class="form-field" type='text' size='15' name='price' form="NewItemForm"></td>
<td class="table-col4"><input type='submit' value='Create' form="NewItemForm"></td>
</tr>
</table>
</div>
</body>

</html> 