/*
 *
 * Edit Menu Item Page Content 
 *
 */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  color: black;
  background-color: rgb(222, 255, 219);
}

h2 {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

table, tr, td {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.table-top {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid rgb(229, 232, 234);
  padding: 15px;
  text-align: left;
  vertical-align: top;
}

.table-col1h {
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15.4px;
}

.table-col1 {
  text-align: left;
  vertical-align: top;
  width: 100%;
  padding: 15px;
}

.border {
  border-collapse: collapse;
  border: 1px solid rgb(229, 232, 234);
}

.form-field {
  padding-left: 5%;
  padding-right: 5%;
}