body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
}

h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

table, tr, td,
p {
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

/*
 *
 * Main Page Content 
 *
 */

.table-top {
  width: 80%;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-color: black;
}

.table-header {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
	
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-color: black;
}

.table-col1 {
  width: 20%;
}

.table-col2 {
  width: 45%;
}

.table-col3 {
  width: 15%;
}

.table-col4 {
  width: 10%;
}

.table-col5 {
  width: 10%;
}
  
.colorit_white {
  background-color: white;
}