<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Udacity Lesson 16: Project Code">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Paul Carreiro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Puppy Control</title>
  </head>
<body>

<h2>Control Options</h2>
<p>
<div class="pad-horizontal">
    <h3><a href={{url_for('puppiesFunction')}}>All</a></h3>
	<form action="{{url_for('puppiesFunction')}}" method = 'POST' id="erecord"></form>
		<div class="border" min-width='15%' style="float:left;margin-right:20px;">
			<label class="pad-box" for="button" form="erecord"><b>Action</b></label><br><p></p>
			<button class="pad-box" type="submit" value="New" form="erecord">New Puppy</button>
		</div>
		<br style="clear:both;" />
	</form>
	<h3><a href={{url_for('puppiesFunctionId', id=5)}}>Get Puppy 5</a></h3>
	<form action="{{url_for('puppiesFunctionId', id=4)}}" method = 'PUT' id="frecord"></form>
		<div class="border" min-width='15%' style="float:left;margin-right:20px;">
			<label class="pad-box" for="button" form="frecord"><b>Action</b></label><br><p></p>
			<button class="pad-box" type="submit" value="New" form="frecord">Update Puppy 4</button>
		</div>
		<br style="clear:both;" />
	</form>
	<form action="{{url_for('puppiesFunctionId', id=3)}}" method = 'DELETE' id="grecord"></form>
		<div class="border" min-width='15%' style="float:left;margin-right:20px;">
			<label class="pad-box" for="button" form="grecord"><b>Action</b></label><br><p></p>
			<button class="pad-box" type="submit" value="New" form="grecord">Delete Puppy 3</button>
		</div>
		<br style="clear:both;" />
	</form>
</div>
</body>
</html> 